# Start and Stop MATLAB Engine for Python
https://www.mathworks.com/help/matlab/matlab_external/start-the-matlab-engine-for-python.html

### warning
In order to execute this notebook and use this Matlab API you obviously need to have Matlab already installed on your machine. Of course, on the docker image built by binder there's no way to use Matlab.

In [1]:
# Matlab Engine for Python API
import matlab.engine
eng = matlab.engine.start_matlab()

In [2]:
print(matlab.__file__) # To check which version of MATLAB was imported, in Python type:

/home/andrea/.local/lib/python3.10/site-packages/matlab/__init__.py

## Run Multiple Engines
Start each engine separately. Each engine starts and communicates with its own MATLAB process.

In [3]:
eng1 = matlab.engine.start_matlab()
eng2 = matlab.engine.start_matlab()

## example: eigenvalues

In [4]:
eng = matlab.engine.start_matlab()
A = [[1.0000,    0.5000,    0.3333,    0.2500],
     [0.5000,    1.0000,    0.6667,    0.5000],
     [0.3333,    0.6667,    1.0000,    0.7500],
     [0.2500,    0.5000,    0.7500,    1.0000]]
A = matlab.double(A)
V, D = eng.eig(A, nargout=2)
print(f"V= {V} \n")
print(f"D= {D} \n")

eigval = [D[i][i] for i in range(0,len(D))]
print(f"The eigenvalues are {eigval} \n")

V= [[0.06939950784450347,-0.4421928183150596,-0.810491018449599,0.3778273795717525],[-0.3619020163563867,0.7419860358173749,-0.18770341448628566,0.5322133795757003],[0.7693553355549394,0.04873539080548242,0.30097912769034296,0.5613633351323757],[-0.5218266058004986,-0.5015447096377738,0.46613657000656084,0.5087893432606572]]

D= [[0.20775336892808532,0.0,0.0,0.0],[0.0,0.4078367277594622,0.0,0.0],[0.0,0.0,0.8482416513967361,0.0],[0.0,0.0,0.0,2.536168251915718]]

The eigenvalues are [0.20775336892808532, 0.4078367277594622, 0.8482416513967361, 2.536168251915718]

### python representation with pandas

In [5]:
import pandas as pd

In [6]:
dfV = pd.DataFrame(V)
dfD = pd.DataFrame(D)

In [7]:
dfV

          0         1         2         3
0  0.069400 -0.442193 -0.810491  0.377827
1 -0.361902  0.741986 -0.187703  0.532213
2  0.769355  0.048735  0.300979  0.561363
3 -0.521827 -0.501545  0.466137  0.508789

In [8]:
dfD

          0         1         2         3
0  0.207753  0.000000  0.000000  0.000000
1  0.000000  0.407837  0.000000  0.000000
2  0.000000  0.000000  0.848242  0.000000
3  0.000000  0.000000  0.000000  2.536168